<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" ng-model="userData.name">
          <label for="first_name">Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="userData.surnames">
          <label for="last_name">Surname</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="date" class="datepicker" ng-model="userData.birthDate">
          <label for="disabled">Birth Date</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn" ng-click="updateUser(userData)">Update</a>
    </form>
  </div>